@import url('https://fonts.cdnfonts.com/css/satoshi');

:root {
  --c-alarm: #f84a48;
  --c-bg: #fff;
  --c-fg: #000;
}
html {
  font-size: 30px;
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Satoshi', Helvetica, sans-serif;
  font-optical-sizing: auto;
  background: var(--bubble-color-1);
  color: var(--bubble-color-4);
  margin: 0;
  cursor: none;
  font-weight: 400;
  line-height: 1.2;
}
body.dark {
  background: var(--c-fg);
}
#app {
  max-width: 720px;
  height: 720px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  padding: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 1rem;
  row-gap: 2px;
  padding: 6px;
  position: relative;
}
.bubbles {
  position: relative;
}
.bubble {
  display: block;
  // background-color: var(--bubble-color);
  // color: var(--text-color);
  // padding: 0.2em 0.4em;
  // padding-top: 28px;
  // border-radius: 0.5em;
  position: relative;
  font-size: 2rem;
  font-weight: 700;
  box-sizing: border-box;
  overflow: hidden;

  small {
    display: none;
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.05em;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    // border-bottom: 1px solid currentColor;
    padding: 0.4em 0.7em;
    box-sizing: border-box;
    background: rgba(#000, 0.1);
  }
}
.bubble:has(i) {
  padding-left: 1.25em;
}
.bubble--large {
  font-size: 3rem;
}
.bubble--large:first-child {
  margin-left: 0;
}
.bubble--alarm {
  // border: 1px solid red;
  box-shadow: 0 0 0 2px var(--c-alarm), inset 0 0 0 2px var(--c-alarm),
    0 0 30px 4px var(--c-alarm);
  color: var(--c-alarm);
  border-color: var(--c-alarm);
  transform: scale(1.1);
  font-weight: 800;
  z-index: 1;
}
.bubble--image {
  padding: 0;
  overflow: hidden;
  height: 3em;

  img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
  }
}
.bubble--interactive {
  background: currentColor;
  aspect-ratio: 1/1;
  padding: .5rem;
  border-radius: 99%;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 1.2rem;
    height: auto;
  }
  path {
    fill: var(--bubble-color-1);
  }
}
sup {
  font-size: 0.5em;
  margin-left: -0.3em;
}

h2 {
  font-size: 0.6rem;
  font-weight: 400;
  padding-left: 1rem;
  margin: 0;
  margin-bottom: -0.5rem;
}
