@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Sora:wght@100..800&display=swap');

:root {
  --c-alarm: #F84A48;
}
html {
  font-size: 30px;
  margin: 0;
}
body {
  margin: 0;
  font-family: 'Sora', Helvetica, sans-serif;
  font-optical-sizing: auto;
  background: #fff;
  color: #000;
  margin: 0;
  cursor: none;
}
body.dark {
  background: #000;
  color: #fff;
}
#app {
  max-width: 720px;
  height: 720px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  padding: 40px;
}

.container {
  --bubble-color: #aff;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 8px;
}
.bubble {
  display: block;
  background-color: var(--bubble-color);
  padding: 0.2em 0.5em;
  position: relative;
  font-size: 1rem;
  border: 1px solid #000;
}
.bubble:has(i) {
  padding-left: 1.5em;
}
.dark .bubble {
  background-color: transparent;
  color: var(--bubble-color);
  border: 1px solid var(--bubble-color);
  font-weight: 300;
}
.bubble--large {
  font-size: 1.5rem;
  padding: 0.15em 0.75em 0.15em 0.75em;
}
.bubble--large:first-child {
  margin-left: 0;
}
.bubble--alarm {
  // border: 1px solid red;
  box-shadow: 0 0 0 2px var(--c-alarm), inset 0 0 0 2px var(--c-alarm);
  color: var(--c-alarm);
  border-color: var(--c-alarm);
  transform: scale(1.1) rotate(-2deg);
  z-index: 1;
}
.bubble i {
  display: block;
  position: absolute;
  top: 0.3em;
  left: 0.5em;
  font-style: normal;
  font-size: 0.75em;
}
.bubble--interactive {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px #000;
  border-radius: 1rem;
}
.dark .bubble--interactive {
  box-shadow: 0 0 0 2px #000, 0 0 0 3px var(--bubble-color);
}

sup {
  font-size: 0.5rem;
}

h2 {
  font-size: 0.6rem;
  font-weight: 400;
  padding-left: 1rem;
  margin: 0;
  margin-bottom: -0.5rem;
}
