@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Quicksand:wght@600&display=swap');

html {
  font-size: 28px;
}
body {
  margin: 0;
  font-family: Manrope, Helvetica, sans-serif;
}
#app {
  max-width: 720px;
  min-height: 720px;
  /* padding: 1rem; */
  box-sizing: border-box;
  background: #fff9e9;
  position: relative;
}

.container {
  --bubble-color: #aff;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 1rem;
}
.bubble {
  display: block;
  background-color: var(--bubble-color);
  padding: 0.5em 1.25em;
  border-radius: 1em;
  position: relative;
  font-size: 1rem;
}
.bubble--large {
  font-size: 1.5rem;
  padding: .25em 1em .25em 1.25em;
  margin-left: .5rem;
  border-radius: .8em;
}
.bubble--large:first-child {
  margin-left: 0;
}
.bubble i {
  display: block;
  position: absolute;
  top: -.2rem;
  left: -.2rem;
  font-style: normal;
  font-size: .75em;
}

sup {
  font-size: 0.5rem;
}

h2 {
  font-size: 0.6rem;
  font-weight: 400;
  padding-left: 1rem;
  margin: 0;
  margin-bottom: -0.75rem;
}
